* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
}

section > h3 {
    align-self: self-start;
    margin-bottom: var(--spacing-sm);
    font-size: var(--fs-lg);
    color: var(--fntSpeccial);
}

h4 {
    margin: 0 auto;
    color: var(--fntSecondary);
    text-transform: capitalize;
    font-weight: lighter;
    overflow: hidden;
    max-width: 10em;
    text-wrap: nowrap; 
    text-align: center;
    text-overflow:ellipsis;
}

section > .movie-carousel {
    display: flex;
    /* padding: 10rem; */
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    gap: var(--spacing-md);
    scrollbar-width: medium;
    scrollbar-color: #64646466 transparent;
    position: relative;
}

/* 
button {
    border: none;
} */

/* Scrollbar Webkit */
.movie-carousel::-webkit-scrollbar {
    height: var(--spacing-xs);
    transition: opacity 0.3s;
    opacity: 0;
}

.movie-carousel:hover::-webkit-scrollbar {
    opacity: 1;
}

.movie-carousel::-webkit-scrollbar-track {
    background: transparent;
}

.movie-carousel::-webkit-scrollbar-thumb {
    background-color: #64646499;
    border-radius: var(--spacing-xs);
    border: var(--spacing-xs) solid transparent;
    background-clip: content-box;
}

.movie-carousel::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.movie-carousel > a {
    background: var(--bgGradient);
    text-align: center;
    cursor: pointer;
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

/* button > *{
    background-color: red;
} */

a{
    z-index: 100;
    text-decoration: none;
    color: var(--fntSecondary);
}


a > div{
    width: 100%;
    height: 100%;
}

.movie-carousel > a{
    aspect-ratio: 3 / 4;
}

.movie-carousel > a:hover,
.movie-carousel > a:focus-visible {
    scale: 0.95;
}

.movie-carousel > * {
    flex: 0 0 15rem;
}

img {
    z-index: 99;
    object-fit:cover;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

/* Vista vertical */
section > .vertical {
    flex-direction: row;
    overflow-x: unset;
    flex-wrap: wrap;
    justify-content: center;
}

section > .category-center {
    align-self: center;
    font-size: var(--fs-sm);
}

@media (max-width: 1024px) {
    section > .movie-carousel {
        gap: var(--spacing-sm);
    }

    h4{
        font-size: var(--fs-sm);
    }

    .movie-carousel > * {
        flex: 0 0 15rem;
    }
}

@media (max-width: 768px) {
    section {
        padding: 0 var(--spacing-md);
    }

    h4{
        font-size: calc(var(--fs-sm));
    }

    section > .movie-carousel {
        gap: var(--spacing-xs);
    }

    .movie-carousel > * {
        flex: 0 0 12rem;
    }
}

@media (max-width: 500px) {
    section {
        padding: 0 var(--spacing-md);
        gap: var(--spacing-md);
    }

    h4{
        font-size: calc(var(--fs-sm));
    }

    section > .movie-carousel {
        gap: var(--spacing-xs);
    }

    .movie-carousel > * {
        flex: 0 0 7rem;
    }
}
