<section>
    @if(this.title !== undefined){
        <h3 [class.category-center]="this.isVertical()">{{title()}}</h3>
    }
    <div class="movie-carousel" [class.vertical]="this.isVertical()">
        @for (item of movies(); track item.id) {
            <a [routerLink]="['/movie/' + item.id]">
                <div>
                    <img [src]="'https://i.pinimg.com/736x/b5/b6/5a/b5b65a963f5dfff82e0eea5dab0a51f1.jpg'" alt="img">
                </div>
                <h4>{{ item.name }}</h4>
            </a>
        }
    </div>
</section>
