<main>
    <h1>SAKILA CTX</h1>
    <p>Movies ∙ Music ∙ Staff ∙ AmapolStack ∙ Devs ∙ Web ∙ Api ∙ Movies</p>
    <p class="decorator">Movies ∙ Music ∙ Staff ∙ AmapolStack ∙ Devs ∙ Web ∙ Api ∙ Movies Movies ∙ Music</p>
    <p class="decorator">Movies ∙ Music ∙ Staff ∙ AmapolStack ∙ Devs ∙ Web ∙ Api ∙ Movies Movies ∙ Music ∙ Staff</p>
    <p>Movies ∙ Music ∙ Staff ∙ AmapolStack ∙ Devs ∙ Web ∙ Api ∙ Movies</p>
    <p class="decorator">Movies ∙ Music ∙ Staff ∙ AmapolStack ∙ Devs ∙ Web ∙ Api ∙ Movies Movies ∙ Music</p>
    <nav>
        <a routerLink="/login">Login</a>
        <a routerLink="/singIn">Sing in</a>
    </nav>
    <div class="main-container">
        <section>
        <h2>Content</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minus accusantium facere magni, earum quos tenetur exercitationem explicabo odio dolores totam quas dicta! Cum saepe quam rerum nulla accusamus praesentium?
        Voluptatum reprehenderit incidunt aliquam illum? Sint reprehenderit, ex beatae atque ut asperiores est eligendi laudantium autem iste deserunt impedit omnis corporis fugit rem, ab culpa cum neque exercitationem. Est, qui.
        Aliquid repudiandae adipisci maiores dolorum obcaecati reiciendis esse soluta temporibus modi consectetur distinctio iste asperiores impedit doloremque, vitae porro ipsum, mollitia possimus quae omnis odio accusantium? Deleniti quaerat quo ut!
        Quidem vero unde minima molestiae cum odio facilis perspiciatis assumenda temporibus suscipit nulla quae consectetur at necessitatibus sequi dolore aliquid numquam optio accusamus, magni libero ex amet ullam repellendus! Delectus.</p>
            <a href="">Go</a>
        </section>
        <section>
            <h2>Content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minus accusantium facere magni, earum quos tenetur exercitationem explicabo odio dolores totam quas dicta! Cum saepe quam rerum nulla accusamus praesentium?
            Voluptatum reprehenderit incidunt aliquam illum? Sint reprehenderit, ex beatae atque ut asperiores est eligendi laudantium autem iste deserunt impedit omnis corporis fugit rem, ab culpa cum neque exercitationem. Est, qui.
            Aliquid repudiandae adipisci maiores dolorum obcaecati reiciendis esse soluta temporibus modi consectetur distinctio iste asperiores impedit doloremque, vitae porro ipsum, mollitia possimus quae omnis odio accusantium? Deleniti quaerat quo ut!
            Quidem vero unde minima molestiae cum odio facilis perspiciatis assumenda temporibus suscipit nulla quae consectetur at necessitatibus sequi dolore aliquid numquam optio accusamus, magni libero ex amet ullam repellendus! Delectus.</p>
            <a href="">Go</a>
        </section>
        <section>
            <h2>Content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minus accusantium facere magni, earum quos tenetur exercitationem explicabo odio dolores totam quas dicta! Cum saepe quam rerum nulla accusamus praesentium?
            Voluptatum reprehenderit incidunt aliquam illum? Sint reprehenderit, ex beatae atque ut asperiores est eligendi laudantium autem iste deserunt impedit omnis corporis fugit rem, ab culpa cum neque exercitationem. Est, qui.
            Aliquid repudiandae adipisci maiores dolorum obcaecati reiciendis esse soluta temporibus modi consectetur distinctio iste asperiores impedit doloremque, vitae porro ipsum, mollitia possimus quae omnis odio accusantium? Deleniti quaerat quo ut!
            Quidem vero unde minima molestiae cum odio facilis perspiciatis assumenda temporibus suscipit nulla quae consectetur at necessitatibus sequi dolore aliquid numquam optio accusamus, magni libero ex amet ullam repellendus! Delectus.</p>
            <a href="">Go</a>
        </section>
    </div>
</main>
<aside class="aside-two">
    <h3>Most rented Movies</h3>
    <ul>
        <li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro iste reprehenderit provident nobis recusandae quidem, eius iusto architecto optio voluptates dolore. Ea, recusandae laboriosam excepturi libero consequuntur possimus a quas!</p>
        </li>
        <li>
            <p>Cum ex quod culpa vel laudantium commodi, esse cupiditate, suscipit porro nulla itaque quisquam non nostrum error distinctio odio velit quos temporibus soluta numquam inventore obcaecati accusamus natus! Quaerat, quis!</p>
        </li>
        <li>
            <p>Distinctio eligendi est consequatur eum sit necessitatibus maxime sint esse hic pariatur, quo iusto eos tempora architecto quam labore ad! Sint saepe molestias laudantium eos temporibus dolor necessitatibus veniam corrupti.</p>
        </li>
        <li>
            <p>Harum, sequi deserunt vitae pariatur voluptatibus nostrum aspernatur modi nihil temporibus accusamus aliquam corrupti unde facilis porro optio totam cumque nobis quibusdam quaerat esse? Quibusdam accusamus quo provident quis nisi.</p>
        </li>
    </ul>
</aside>
<aside class="aside-one">
    <h3>Most rented Movies</h3>
    <ul>
        <li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro iste reprehenderit provident nobis recusandae quidem, eius iusto architecto optio voluptates dolore. Ea, recusandae laboriosam excepturi libero consequuntur possimus a quas!</p>
        </li>
        <li>
            <p>Cum ex quod culpa vel laudantium commodi, esse cupiditate, suscipit porro nulla itaque quisquam non nostrum error distinctio odio velit quos temporibus soluta numquam inventore obcaecati accusamus natus! Quaerat, quis!</p>
        </li>
        <li>
            <p>Distinctio eligendi est consequatur eum sit necessitatibus maxime sint esse hic pariatur, quo iusto eos tempora architecto quam labore ad! Sint saepe molestias laudantium eos temporibus dolor necessitatibus veniam corrupti.</p>
        </li>
        <li>
            <p>Harum, sequi deserunt vitae pariatur voluptatibus nostrum aspernatur modi nihil temporibus accusamus aliquam corrupti unde facilis porro optio totam cumque nobis quibusdam quaerat esse? Quibusdam accusamus quo provident quis nisi.</p>
        </li>
    </ul>
</aside>
<footer>
    By {{ '@Amapola' }} © 2024
</footer>
