:host {
    display: grid;
    grid-template-areas:
        "aside-one main aside-two"
        ". footer .";
    justify-content: center;
    align-items: start;
    align-content: start;
    gap: var(--spacing-xl) var(--spacing-xl);
    color: var(--fntSpeccial);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.decorator {
    color: var(--fntSubtitle);
}

main {
    grid-area: main;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}

.aside-one {
    grid-area: aside-one;
}

.aside-two {
    grid-area: aside-two;
}

h1 {
    white-space: nowrap;
    font-size: var(--fs-3xl);
}

nav {
    margin-top: var(--spacing-md);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 10rem;
}

a {
    text-wrap: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--bgPhantom);
    color: var(--bgLink);
    padding: var(--spacing-xs) var(--spacing-md);
    margin: var(--spacing-xs) 0;
    align-self: self-start;
    border: 2px dashed transparent;
    transition: color .5s, background-color .5s, transform .1s, border-color .5s;
}

a:hover,
a:focus-visible {
    border-color: var(--bgLink);
    transform: scale(0.85);
}

code {
    color: var(--fntSubtitle);
}

strong {
    background-color: var(--bgPhantom);
}

footer {
    max-width: 40rem;
}

.main-container {
    margin-top: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl) 0;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px) {
    :host {
        grid-template-areas:
            "main"
            "aside-one"
            "aside-two"
            "footer";
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .aside-one, .aside-two{
        margin-top: var(--spacing-2xl);
    }

    :host > * {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    :host {
        gap: var(--spacing-lg) var(--spacing-lg);
    }

    main{
        padding: 1rem;
    }

    h2 {
        align-self: center !important;
    }

    h1 {
        font-size: var(--fs-xl);
    }

    nav {
        gap: var(--spacing-md);
    }

    section p {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    :host {
        gap: var(--spacing-md) var(--spacing-md);
    }

    h1 {
        font-size: var(--fs-lg);
    }

    h2 {
        font-size: var(--fs-md);
    }

    nav {
        gap: calc(var(--spacing-xs) * 4);
    }

    main > p{
        font-size: calc(var(--fs-sm) * 1.3);
    }

    .main-container {
        margin-top: var(--spacing-xl);
        gap: var(--spacing-xl);
    }
}
