* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: flex;
    align-items: start;
    color: var(--fntPrincipal);
}

:host > * {
    flex: 1;
}

h2 {
    color: var(--fntSpeccial);
    font-size: var(--fs-lg);
}

h1 {
    font-size: var(--fs-xl);
    text-transform: uppercase;
    color: var(--fntSubtitle);
}

p {
    color: var(--fntSecondary);
}

a {
    color: var(--bgLink);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    align-items: center;
    padding: var(--spacing-md);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
    max-width: 400px;
}

label {
    color: var(--fntPrincipal);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
}

label > p:first-child {
    font-weight: bold;
    color: var(--fntSpeccial);
    text-transform: uppercase;
}

#sub-error {
    color: var(--errorColor);
}

input {
    background-color: var(--bgInput);
    border-radius: var(--spacing-xs);
    padding: var(--spacing-xs);
    border: 2px solid #444;
    width: 100%;
}

input:hover {
    outline: none;
}

.iter-text {
    margin-top: var(--spacing-md);
    max-width: 30rem;
    font-weight: 300;
    padding: var(--spacing-md);
    background-color: #444;
}

form > .disable-but {
    background-color: #666;
    touch-action: none;
    cursor: not-allowed;
    color: var(--fntSecondary);
    border-color: var(--fntSecondary);
}

form > .disable-but:hover {
    background-color: #666;
    touch-action: none;
    cursor: not-allowed;
    color: var(--fntSecondary);
    border-color: var(--fntSecondary);
}

input[type="submit"] {
    padding: var(--spacing-xs) var(--spacing-xl);
    background-color: var(--fntSpeccial);
    color: var(--fntPrincipal);
    font-weight: bolder;
    border: 2px solid var(--fntSpeccial);
    transition: color .5s ease-in-out, background-color .5s ease-in-out, transform .1s ease-in-out;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus-visible {
    background-color: var(--fntPrincipal);
    color: var(--fntSpeccial);
}

input[type="submit"]:active,
input[type="submit"]:focus-visible {
    transform: scale(0.95);
}

@media (max-width: 1024px) {
    h1 {
        font-size: var(--fs-lg);
    }
    h2 {
        font-size: var(--fs-md);
    }
    .iter-text {
        max-width: 80%;
        padding: var(--spacing-md);
    }
}

@media (max-width: 768px) {
    main {
        padding: var(--spacing-xs);
        gap: var(--spacing-sm);
    }
    form {
        max-width: 80%;
        padding: 0 var(--spacing-md);
    }
    input[type="submit"] {
        width: 100%;
        padding: var(--spacing-sm) 0;
    }
    h1 {
        font-size: var(--fs-md);
    }
    h2 {
        font-size: var(--fs-sm);
    }
}

@media (max-width: 480px) {
    main {
        gap: var(--spacing-xs);
    }
    h1 {
        font-size: var(--fs-sm);
    }
    h2 {
        font-size: var(--fs-xs);
    }
}
