<main>
    <h1>Welcome back</h1>
    <p>Please enter your details</p>
    <form>
        <label>
            <p>Email address<p>
            <input type="email" placeholder="ej: example@email.com">
        </label>
        <label>
            <p>Password</p>
            <input type="password" placeholder="***">
        </label>
        <a href="/login">Forgot password</a>
        <input type="submit" value="Sing in">
    </form>
    <p>
        Don't have an account?
        <a href="/signup">
            Sing up
        </a>
    </p>
</main>
<section>
    <img src="https://images.pexels.com/photos/29504923/pexels-photo-29504923.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="hero image">
</section>

