<main>
    <h1>Welcome back</h1>
    <p>Please enter your details</p>
    <form [formGroup]="loginForm" (submit)="login()">
        <label>
            <p>Username<p>
            <input type="text" placeholder="ej: Jhon Doe" formControlName="username">
            @if (isInvalid('username', 'required')) {
                <p id="sub-error">The username is required</p>
            }
        </label>
        <label>
            <p>Password</p>
            <input type="password" placeholder="***" formControlName="password">
            @if (isInvalid('password', 'required')) {
                <p id="sub-error">The password is required</p>
            }
        </label>
        <a href="/login">Forgot password</a>
        <input type="submit" value="Login" [disabled]="!loginForm.valid" [class.disable-but]="!loginForm.valid" >
    </form>
    <p>
        Don't have an account?
        <a href="/signup">
            Sing up
        </a>
    </p>
    <p class="iter-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ipsam ullam impedit ad quisquam unde consectetur minus iusto corporis vel fuga ratione perferendis assumenda recusandae quod quia neque, facilis quaerat.</p>
</main>
