<header>
    <h2>SAKILA CTX</h2>
    <input type="search" name="" id="" placeholder="search">
    <h3>User</h3>
    <div>
        <h1>Movies</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quisquam, odio earum beatae nihil quaerat mollitia maiores sunt aspernatur quae porro accusamus rem provident.</p>
    </div>
</header>
<main>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
</main>
<footer>
    By {{ '@Amapola' }} © 2024
</footer>
