<main>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
    <section>
        <h3>Movie Category</h3>
        <div class="movie-carousel">
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
            <div>
                <div>
                    <img src="" alt="image">
                </div>
                <h4>Movie Name</h4>
            </div>
        </div>
    </section>
</main>
