:host{
    position: relative;
    display: grid;
    grid-template-areas: "header"
    "recommendations"
    "content"
    "footer";
    grid-template-rows: min-content min-content 1fr min-content;
    /* justify-content: center; */
    min-height: 100vh;
    background: var(--bgGradient);
}

*::selection {
    background-color: var(--fntSubtitle);
    color: var(--fntSelection);
}

aside{
    z-index: 998;
    margin-top: .1rem;
    /* background-color: black; */
    width: 100%;
    /* height: 0; */
    position: relative;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
}

ul::-webkit-scrollbar {
    height: var(--spacing-xs);
    transition: opacity 0.3s;
    opacity: 0;
}

ul:hover::-webkit-scrollbar {
    opacity: 1;
}

ul::-webkit-scrollbar-track {
    background: transparent;
}

ul::-webkit-scrollbar-thumb {
    background-color: #64646499;
    border-radius: var(--spacing-xs);
    border: var(--spacing-xs) solid transparent;
    background-clip: content-box;
}

ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

ul{
    background: var(--bgColor);
    background-color: var(--bgPhantom);
    background-color: #171b14;
    max-width: 30rem;
    border-radius: .4rem;
    width: 80%;
    height: min-content;
    max-height: 12rem;
    overflow-y: scroll;
    padding: 1rem;
    margin: 0;
    position: fixed;
    display: flex;
    gap: .2em;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    list-style: none;
    box-shadow: 0 .5rem 1rem .2rem #00000080;
}

li{
    /* text-align: start; */
    text-wrap: nowrap;
    border-radius: .2rem;
    color: var(--fntSecondary);
    /* background-color: black; */
    padding:.2rem 0 .2rem 0;
    margin: 0;
    width: 100%;
}

li > a{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    color: var(--fntSecondary);
    /* background-color: var(--bgPhantom); */
    text-align: center;
    /* background-color: red; */
}

header{
    grid-area: header;
    background-color: var(--bgColor);


    background-color: var(--header-bg);
    background: var(--header-gradient);
    padding: var(--spacing-md) 0;
    position:sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 var(--spacing-md) #00000026;
}

.page-container{
    overflow: hidden;
    grid-area: content;
    padding: var(--spacing-xl) 0;
    /* background-color: red; */
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 var(--spacing-xs);
    width: 100%;
    max-width: 90rem;
}

header > div > * {
    flex: 1 1 0;
    text-align: center;
    /* background-color: #111; */
}

header > div > input {
    flex: 0 2 30rem;
    padding: var(--spacing-xs) 0;
    border-radius: 5px;
    nav-index: -1;
    background-color: var(--bgGradient);
    border-color: var(--fntSecondary);
    color: var(--fntSecondary);
}

header > div > h2 > a{
    /* text-wrap: nowrap; */
    color: var(--fntSpeccial);
}

header > div > h3{
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--fntSpeccial);
}

footer {
    grid-area: footer;
    color: var(--fntSubtitle);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 100rem;
    background-color: var(--bgPhantom);
    padding: var(--spacing-md) 0;
}

@media (max-width: 800px) {
    h2,h3{
        font-size: var(--fs-sm);
    }

    li{
        font-size: .85rem !important;
    }
    header > div > input{
        flex: 0 2 60%;
    }
}

