<header>
    <div>
        <h2><a href="">SAKILA CTX</a></h2>
        <input type="search" name="" id="" placeholder="search">
        <h3>User</h3>
    </div>
</header>
<!-- <aside>
    <ul>
        <li><a href="">Lorem ipsum, dolor sit amet  </a></li>
        <li><a href="">Dolorem odio, in libero</a></li>
        <li><a href="">Eveniet omnis magnam qui</a></li>
        <li><a href="">Neque repudiandae molestias</a></li>
                <li><a href="">Lorem ipsum, dolor sit amet  </a></li>
        <li><a href="">Dolorem odio, in libero</a></li>
        <li><a href="">Eveniet omnis magnam qui</a></li>
        <li><a href="">Neque repudiandae molestias</a></li>
                <li><a href="">Lorem ipsum, dolor sit amet  </a></li>
        <li><a href="">Dolorem odio, in libero</a></li>
        <li><a href="">Eveniet omnis magnam qui</a></li>
        <li><a href="">Neque repudiandae molestias</a></li>
                <li><a href="">Lorem ipsum, dolor sit amet  </a></li>
        <li><a href="">Dolorem odio, in libero</a></li>
        <li><a href="">Eveniet omnis magnam qui</a></li>
        <li><a href="">Neque repudiandae molestias</a></li>
    </ul>
</aside> -->
@if (this.activePopUp() === true) {
<app-pop-up-window [type]="defaulType" [content]="defaultContent" (isActive)="this.activePopUp.set($event)"></app-pop-up-window>
}
<div class="page-container">
    <router-outlet/>
</div>
<footer>
    By {{ '@Amapola' }} © 2024
</footer>

