:host{
    position: relative;
    display: grid;
    grid-template-areas: "header"
    "recommendations"
    "content"
    "footer";
    grid-template-rows: min-content 1fr min-content;
    /* justify-content: center; */
    min-height: 100vh;
    background: var(--bgGradient);
}

*::selection {
    background-color: var(--fntSubtitle);
    color: var(--fntSelection);
}

aside{
    /* background-color: black; */
    width: 100%;
    /* height: 0; */
    position: relative;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

ul{
    /* margin: auto; */
    background: var(--bgColor);
    width: 90%;
    height: min-content;
    max-height: 12rem;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    gap: .2em;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    list-style: none;
}

li{
    text-align: center;
    border-radius: .2rem;
    color: var(--fntSecondary);
    /* background-color: black; */
    padding:.2rem 0 .2rem 0;
    margin: 0;
    width: 90%;

}



:host > *{
    /* background-color: red !important; */
}
header{
    grid-area: header;
    background-color: var(--bgColor);


    background-color: var(--header-bg);
    background: var(--header-gradient);
    padding: var(--spacing-md) 0;
    position:sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 var(--spacing-md) #00000026;
}

.page-container{
    overflow: hidden;
    grid-area: content;
    padding: var(--spacing-xl) 0;
    /* background-color: red; */
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 var(--spacing-xs);
    width: 100%;
    max-width: 90rem;
}

header > div > * {
    flex: 1 1 0;
    text-align: center;
    /* background-color: #111; */
}

header > div > input {
    flex: 0 2 30rem;
    padding: var(--spacing-xs) 0;
    border-radius: 5px;
    nav-index: -1;
    background-color: var(--bgGradient);
    border-color: var(--fntSecondary);
    color: var(--fntSecondary);
}

header > div > h2 > a{
    /* text-wrap: nowrap; */
    color: var(--fntSpeccial);
}

header > div > h3{
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--fntSpeccial);
}

footer {
    grid-area: footer;
    color: var(--fntSubtitle);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 100rem;
    background-color: var(--bgPhantom);
    padding: var(--spacing-md) 0;
}

@media (max-width: 800px) {
    h2,h3{
        font-size: var(--fs-sm);
    }
    header > div > input{
        flex: 0 2 60%;
    }
}

