<main>
    <app-carousel [isVertical]="true" [movies]="this.defaultCarrousels.movies" [title]="this.defaultCarrousels.title"></app-carousel>
</main>
<aside>
    <h5>filters</h5>
    <input type="search" value="filter">
    <ul>
        <h5>Categories</h5>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
    </ul>
    <ul>
        <h5>Clasificación</h5>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
        <li>
            <label for="">
                item
                <input type="checkbox">
            </label>
        </li>
    </ul>
</aside>