<main>
    <h1>{{this.movie()?.title}}</h1>
    <div class="principal-container">
        <div class="image-container">
            <img src="" alt="image">
        </div>
        <p class="desc">
            {{this.movie()?.description?.repeat(15)}}
        </p>
    </div>
    <ul class="tag-container">
        <h4>tags:</h4>
        @for (item of movie()?.categories; track item.referenceId) {
            <li>{{item.name}}</li>
        }
    </ul>
    <div class="char-container">
        <p><span>Release year:</span> {{ this.movie()?.release_year }}</p>
        <p><span>Duration:</span> {{ this.movie()?.length }} minutes</p>
        <p><span>Language:</span> {{ this.movie()?.language}}</p>
        <p><span>Rating:</span> {{ this.movie()?.rating }}</p>
        <p>
            <span>Special feature:</span>
            @for (item of this.movie()?.special_features?.split(','); track $index) {
            {{item}}
        }
        </p>
                
    </div>
    <button class="price-button">$1.99</button>
    <ul class="creators-container">
        <h4>Creators:</h4>
        @for (item of this.movie()?.actors; track $index) {
            <li>{{ item.name.repeat(3) | titlecase }}@if($index !== $count - 1){,}
            </li>
        }
    </ul>
    <ul class="actors-container">
        <h4>Actors:</h4>
        @for (item of this.movie()?.actors; track $index) {
            <li>{{ item.name.repeat(3) | titlecase }}@if($index !== $count - 1){,}
            </li>
        }
    </ul>
</main>
<aside>
    @for (item of defaultCarrousels; track $index) {
        <div class="carousel">
            <app-carousel [title]="item.title" [movies]="item.movies"></app-carousel>
        </div>
    }
</aside>