<main>
    <h1>{{this.movie()?.title}}</h1>
    <div class="principal-container">
        <div class="image-container">
            <img src="" alt="image">
        </div>
        <p class="desc">
            {{this.movie()?.description?.repeat(15)}}
        </p>
    </div>
    <ul class="tag-container">
        <h4>tags:</h4>
        <li>Quest</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
        <li>Survival</li>
        <li>Action</li>
    </ul>
    <div class="char-container">
        <p>Release year: {{ this.movie()?.release_year }}</p>
        <p>Duration: {{ this.movie()?.length }} minutes</p>
        <p>Language: {{ this.movie()?.language}}</p>
        <p>Rating: {{ this.movie()?.rating }}</p>
                @for (item of this.movie()?.special_features?.split(','); track $index) {
            <li>Special feature: {{item}}</li>
        }
    </div>
    <button class="price-button">$1.99</button>
    <ul class="creators-container">
        <h4>Creators:</h4>
        @for (item of this.movie()?.actorsNames; track $index) {
            <li>{{ item.repeat(3) | titlecase }}@if($index !== $count - 1){,}
            </li>
        }
    </ul>
    <ul class="actors-container">
        <h4>Actors:</h4>
        @for (item of this.movie()?.actorsNames; track $index) {
            <li>{{ item.repeat(3) | titlecase }}@if($index !== $count - 1){,}
            </li>
        }
    </ul>
</main>
<aside>
    @for (item of defaultCarrousels; track $index) {
        <div class="carousel">
            <app-carousel [title]="item.title" [movies]="item.movies"></app-carousel>
        </div>
    }
</aside>